<a href="https://colab.research.google.com/github/LauraRivera01/Programacion3/blob/main/Fundamentos_de_phyton_A2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("Hola Mundo")

Hola Mundo

In [2]:
print("Bienvenidos a Programacion Computacional III!!!")

Bienvenidos a Programacion Computacional III!!!

In [ ]:
import tensorflow as tf

In [3]:
def suma():
  num1 = input("Dime un numero: ")
  num2 = input("Dime otro numero: ")
  print( "La suma es: ", float(num1)+ float(num2) )
suma()

Dime un numero: 8
Dime otro numero: 4.5
La suma es:  12.5

In [4]:
def calcularSueldo(numHrs, valorXHr):
   hrsExtras = 0
   if( numHrs>8 ):
     hrsExtras = float(numHrs) - 8
   sueldo = ((8*valorXHr)+(hrsExtras*valorXHr*2))*30
   return sueldo

numHrs = float(input("Dame el numero de horas: "))
valorXHr = float(input("Dame el valor por hora: "))
sueldo = calcularSueldo(numHrs, valorXHr)
print("El sueldo es: ", sueldo)

Dame el numero de horas: 8
Dame el valor por hora: 10
El sueldo es:  2400.0

In [5]:
print("Conversion de Fahrenheit a Celsius")
f = float(input("Dame la temperatura en Farenheit: "))
c = (f-32)*5/9
print("La temperatura en Celsius es: ", c)

Conversion de Fahrenheit a Celsius
Dame la temperatura en Farenheit: 105
La temperatura en Celsius es:  40.55555555555556

In [6]:
nombrePersona = input("Dame tu nombre: ")
print("Hola", nombrePersona)
estado = input("Como te encuentras hoy: ")
print("Buen dia", nombrePersona, ", estas", estado)

Dame tu nombre: laura
Hola laura
Como te encuentras hoy: bien
Buen dia laura , estas bien

In [7]:
def suma(num1, num2):
  return num1 + num2

num1 = float(input("Num1: "))
num2 = float(input("Num2: "))

resp = suma(num1, num2)
print("Respuesta: ", resp)

Num1: 5
Num2: 5
Respuesta:  10.0

In [9]:
suma = lambda num1, num2: num1+num2

n1 = float(input("Dime Numero 1: "))
n2 = float(input("Dime Numero 2: "))

resp = suma(n1, n2)
print("La suma es: ", resp)

Dime Numero 1: 5
Dime Numero 2: 65
La suma es:  70.0

In [12]:
cuadrado = lambda x: x**2

n = int(input("Numero a elevar el cuadrado: " ))
print("Respuesta: ", cuadrado(n))

Numero a elevar el cuadrado: 3
Respuesta:  9

In [13]:
cubo = lambda x:x**3

n = int(input("Numero a elevar el cubo: " ))
print("Respuesta: ", cubo(n))

Numero a elevar el cubo: 3
Respuesta:  27

In [16]:
exp = lambda n,e:n**e
n = int(input("Numero a elevar a un exponente: " ))
e = int(input("Exponente: " ))
print("Respuesta: ", exp(n,e))

Numero a elevar a un exponente: 3
Exponente: 5
Respuesta:  243

In [17]:
conversion = lambda f:(f-32)*5/9
f = float(input("Fahrenheit: "))
print("Grados F: ", f, "en celsius es: ", conversion(f))

Fahrenheit: 105
Grados F:  105.0 en celsius es:  40.55555555555556

In [18]:
lista = [1,2,3,5, 2]
resp = list(map(lambda n:n*2, lista))
print(lista, resp)

[1, 2, 3, 5, 2] [2, 4, 6, 10, 4]

In [27]:
listaf = [96,85,105]#Grados Fahrenheit
c = list(map(conversion, listaf))
print("Grados Fraenheit: ", listaf, "Grados Celsius", c)

Grados Fraenheit:  [96, 85, 105] Grados Celsius [35.55555555555556, 29.444444444444443, 40.55555555555556]

In [23]:
resp = list(filter(lambda n:n%2==0, lista))
print("Los numeros pares de la lista: ", lista, "son: ", resp)

Los numeros pares de la lista:  [96, 85, 105] son:  [96]

In [24]:
resp = list(filter(lambda n:n<=2, lista))
print("Los numeros menores o iguales a 2 de la lista:  ", lista, "es: ", resp)

Los numeros menores o iguales a 2 de la lista:   [96, 85, 105] es:  []

In [31]:
from functools import reduce
resp = reduce(lambda x,y: x+y, lista)
print("La suma de los valores de la lista: ", lista, "es: ", resp)

La suma de los valores de la lista:  [96, 85, 105] es:  286