<a href="https://colab.research.google.com/github/LauraRivera01/Programacion3/blob/main/fundamentos_de_python_A1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hola mundo", "Bienvenidos a Progra III con Phyton", "Hola chicos, que tal!!")

Hola mundo Bienvenidos a Progra III con Phyton Hola chicos, que tal!!

In [ ]:
saludo = "hola"
print(saludo + "Mundo")
print (saludo[1])

holaMundo
o

In [ ]:
nombre = input("Como te llamas?: ")
print("Hola"+nombre, "Tu letra inicial es: ", nombre[0], "Tu nombre tiene:" ,nombre.__len__(), "caracteres")

Como te llamas?: laura
Holalaura Tu letra inicial es:  l Tu nombre tiene: 5 caracteres

In [ ]:
num1 = 5
num2 = 5.5
resp = num1 + num2
print("La suma es:" , resp)
#Definir la suma entre dos numeros

La suma es: 10.5

In [ ]:
#Encontrar dos numeros
num1 = input("Num1: ")
num2 = input("Num2: ")
resp = float(num1) + float(num2) #"5.5"-> 5.5
print("La suma es: ", resp)

Num1: 5
Num2: 5.5
La suma es:  10.5

In [ ]:
num1 = input("Num1: ")
num1 = float(num1)
num2 = float(input("Num2: "))
resp = num1 + num2 #"5.5" -> 5.5
print("La suma es: ", resp, num1 + num2 )

Num1: 5.4
Num2: 6.8
La suma es:  12.2 12.2

In [ ]:
print("Hola nuevamente", nombre )

Hola nuevamente laura

In [ ]:
gustaPython = True
print("hola ", nombre, "te gusta python",  gustaPython)

hola  laura te gusta python True

In [ ]:
print( "nombre: ", type(nombre), "num1: ", type(num1), "num2: ", type(num2), "resp: ", type(resp), "gustaPython: ", type(gustaPython), "1", type(1))

nombre:  <class 'str'> num1:  <class 'float'> num2:  <class 'float'> resp:  <class 'float'> gustaPython:  <class 'bool'> 1 <class 'int'>

In [ ]:
print("resp: "+ str(resp))

resp: 12.2

In [ ]:
def suma(num1, num2):
  resp = num1 + num2
  return resp
num1 = float(input("Num1: "))
num2 = float(input("Num2: "))
resp = suma(num1,num2)
print(resp)

Num1: 8.4
Num2: 9.8
18.200000000000003

In [ ]:
num1 = int(input("Num1: ")) 
num2 = int(input("Num2: "))
print("Los numeros", str(num1), ",", str(num2), "son iguales: ", str(num1==num2) )

Num1: 4
Num2: 4
Los numeros 4 , 4 son iguales:  True

In [ ]:
def convertirFC(f):
  c = (f-32)+5/9
  return c
f = float(input("F: "))
print("F: ",  str(f), "a celcius: ", str( convertirFC(f) ))

F: 98
F:  98.0 a celcius:  66.55555555555556

In [ ]:
numHrs = int(input("Num. de HRS TRABAJADAS: "))
valorHr = float(input("Valor por hr: "))

sueldo = numHrs*valorHr*30
print("Sueldo: ", sueldo)

Num. de HRS TRABAJADAS: 12
Valor por hr: 8
Sueldo:  2880.0

In [ ]:
def calcularSueldo(numHRs, valorHr):
  hrsExtras = 0
  if( numHrs>8 ):
    hrsExtras = numHrs-8
  sueldo = (8*valorHr + hrsExtras*valorHr*2)*30
  return sueldo 

numHrs = int(input("Num. hrs trabajadas: "))
valorHr = float(input("Valor x hr: "))
print("Sueldo: ", str(calcularSueldo(numHrs, valorHr)))

Num. hrs trabajadas: 10
Valor x hr: 4.5
Sueldo:  1620.0

In [ ]:
prioridad = 7- 5*2 - 4/4 *2 #5*2=10 4/4=1 1*2=2 7-10-2=-5
print(str(prioridad))

-5.0

Ejercicio de Clase: 1. Convertir de Grados Celsius a Fahrenheit

Ejercicios de Tarea:
1. Convertir de Celsius de Fahrenheit
2. Calcular la edad de una persona.
3. Obtener la nota final de ciclo

Tarea:

1. Convertir de Celsius de Fahrenheit usando lambda
2. Calcular la edad de una persona. usando lambda
2. Obtener la nota final de ciclo usando lambda y build-in(map, filter, reduce)

In [54]:
suma = lambda num1,num2: num1+num2
num1 = float(input("Num1: "))
num2 = float(input("Num2: "))
print("La suma es: ", suma(num1,num2))

#Funcion Lambda

Num1: 12
Num2: 10
La suma es:  22.0

In [57]:
conversion = lambda f:(f-32)*5/9
f = float(input("Fahrenheit: "))
print("Grados F: ", f, "a C:", conversion(f))

Fahrenheit: 104
Grados F:  104.0 a C: 40.0

In [58]:
cuadrado = lambda n:n**2
n = int(input("N: "))
print("N: ", n, "al cuadrado es: ", cuadrado(n))

N: 3
N:  3 al cuadrado es:  9

In [61]:
cubo = lambda n:n**3
n = int(input("n: "))
print("N: ", n, "al cubo es:" , cubo(n))

n: 20
N:  20 al cubo es: 8000

In [62]:
exp = lambda n,e:n**e
n = int(input("N: "))
e = int(input("Exponente: "))
print(n, "elevado al exp : ", e, " es: ", exp(n,e))

N: 3
Exponente: 4
3 elevado al exp :  4  es:  81

In [63]:
lista = [1,2,3,4]
resp = list(map(lambda n:n*2, lista))
print(resp)

[2, 4, 6, 8]

In [64]:
gf_depto = [85,58,105]
c_depto = list(map(conversion, gf_depto))
print("Los grados F: ", gf_depto, "en celsius es: ", c_depto)

Los grados F:  [85, 58, 105] en celsius es:  [29.444444444444443, 14.444444444444445, 40.55555555555556]

In [65]:
resp = list(map(cuadrado, lista))
print("La lista ", lista, "el cuadrado es: ", resp )

La lista  [1, 2, 3, 4] el cuadrado es:  [1, 4, 9, 16]

In [66]:
resp = list(map(cubo , lista))
print("La lista ", lista, "el cubo es: ", resp )

La lista  [1, 2, 3, 4] el cubo es:  [1, 8, 27, 64]

In [68]:
resp = list(filter(lambda n:n>2, lista))
print("Los numeros <=2 de la lista ", lista, "son: ", resp)

Los numeros <=2 de la lista  [1, 2, 3, 4] son:  [3, 4]

In [69]:
resp = list(filter(lambda n:n%2==0, lista))
print("Los numeros pares de la lista ", lista, "son: ", resp)

Los numeros pares de la lista  [1, 2, 3, 4] son:  [2, 4]

In [70]:
resp = list(filter(lambda n:n%2, lista)) #True, False, 1/2 = 0.5->1->True, 2/2=0 -> False 
print("Los numeros impares de la lista ", lista, "son: ", resp)

Los numeros impares de la lista  [1, 2, 3, 4] son:  [1, 3]

In [71]:
from functools import reduce
resp = reduce(lambda x,y:x+y, lista)
print("La suma de la lista ", lista, "es: ", resp, "la medida es:", resp/len(lista))

La suma de la lista  [1, 2, 3, 4] es:  10 la medida es: 2.5

In [11]:
tupla = (1,2,5) #una tupla es un conjunto de datos inmutables
print( tupla, tupla[0], "Rango: indice inicial: longitud: ", tupla[1:3], "; cuantas veces aparece el 2: ",tupla.count(2), ";donde(indice) aparece el 5:", tupla.index(5)   )
print( list(map(conversion, tupla)) )

(1, 2, 5) 1 Rango: indice inicial: longitud:  (2, 5) ; cuantas veces aparece el 2:  1 ;donde(indice) aparece el 5: 2

NameError: ignored

In [19]:
persona = ("USIS032912", "Laura Rivera", "Usulutan", "2624-0329", "laurybratzrivera@gmail.com", 2012, 2.5)
print(persona)

('USIS032912', 'Laura Rivera', 'Usulutan', '2624-0329', 'laurybratzrivera@gmail.com', 2012, 2.5)

In [18]:
nombre = "Laura Rivera"
print( nombre[0:4], nombre.count("e"))

Laur 1

In [20]:
name = ["L", "a", "u", "r", "a", "", "R", "i", "v", "e", "r", "a"]
print( name, name[0:4], name.count("e"), name.index("e"))

['L', 'a', 'u', 'r', 'a', '', 'R', 'i', 'v', 'e', 'r', 'a'] ['L', 'a', 'u', 'r'] 1 9

In [21]:
person = ["USIS032912", "Laura Rivera", "Direccion: Ozatlan", "26278896", 2012, 2.5]
print(person)
#person[6] = 9.1
person.insert(2, "Depto: Uusulutan")#inserta un valor en el indice 2
person.append("Python")#inserta un valor al final
#person[6] = 9.1
person[ person.index(2.5) ] = 9.1
lenguaje = person.pop() # devuelve y borra el ultimo valor
print(person, lenguaje)

['USIS032912', 'Laura Rivera', 'Direccion: Ozatlan', '26278896', 2012, 2.5]
['USIS032912', 'Laura Rivera', 'Depto: Uusulutan', 'Direccion: Ozatlan', '26278896', 2012, 9.1] Python

In [22]:
numEnteros = [1,5,2,8,7]
numOrdenados = sorted(numEnteros, reverse=True)
numReverse = list(reversed(numEnteros))
print("Lista desordenada: ", numEnteros, "Lista Ordenada: ", numOrdenados, "Numeros al reves", numReverse)

Lista desordenada:  [1, 5, 2, 8, 7] Lista Ordenada:  [8, 7, 5, 2, 1] Numeros al reves [7, 8, 2, 5, 1]